* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(red 0, green 100%) no-repeat;
}

.container {
  width: 200px;
  margin: 200px auto 0;
  perspective: 1280px;
}

@keyframes _rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.container .cube {
  width: 200px;
  height: 200px;
  /* transform: rotateX(30deg) rotateY(30deg); */
  position: relative;
  transform-style: preserve-3d;
  animation: _rotate 8s linear infinite;
}

.container .cube div {
  position: absolute;
  background-color: green;
}

.container .cube .outer {
  width: 200px;
  height: 200px;
  transition: transform 0.4s;
  opacity: 0.9;
}

.container .cube .outer img {
  width: 200px;
  height: 200px;
}

/* outer */

.container .cube .outer.front {
  transform: rotateY(0) translateZ(100px);
}

.container .cube .outer.behind {
  transform: rotateY(180deg) translateZ(100px);
}

.container .cube .outer.left {
  transform: rotateY(90deg) translateZ(100px);
}

.container .cube .outer.right {
  transform: rotateY(-90deg) translateZ(100px);
}

.container .cube .outer.top {
  transform: rotateX(90deg) translateZ(100px);
}

.container .cube .outer.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

/*  Hover  */

.container .cube:hover .outer.front {
  transform: rotateY(0) translateZ(200px);
}

.container .cube:hover .outer.behind {
  transform: rotateY(180deg) translateZ(200px);
}

.container .cube:hover .outer.left {
  transform: rotateY(90deg) translateZ(200px);
}

.container .cube:hover .outer.right {
  transform: rotateY(-90deg) translateZ(200px);
}

.container .cube:hover .outer.top {
  transform: rotateX(90deg) translateZ(200px);
}

.container .cube:hover .outer.bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

/* inner */

.container .cube .inner {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
}

.container .cube .inner img {
  width: 100px;
  height: 100px;
}

.container .cube .inner.front {
  transform: rotateY(0) translateZ(50px);
}

.container .cube .inner.behind {
  transform: rotateY(180deg) translateZ(50px);
}

.container .cube .inner.left {
  transform: rotateY(90deg) translateZ(50px);
}

.container .cube .inner.right {
  transform: rotateY(-90deg) translateZ(50px);
}

.container .cube .inner.top {
  transform: rotateX(90deg) translateZ(50px);
}

.container .cube .inner.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
